In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('DS - Assignment Part 1 data set.xlsx')

In [3]:
df

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft),House price of unit area
0,2012.916667,32.0,84.87882,10,24.98298,121.54024,1,575,37.9
1,2012.916667,19.5,306.59470,9,24.98034,121.53951,2,1240,42.2
2,2013.583333,13.3,561.98450,5,24.98746,121.54391,3,1060,47.3
3,2013.500000,13.3,561.98450,5,24.98746,121.54391,2,875,54.8
4,2012.833333,5.0,390.56840,5,24.97937,121.54245,1,491,43.1
...,...,...,...,...,...,...,...,...,...
409,2013.000000,13.7,4082.01500,0,24.94155,121.50381,3,803,15.4
410,2012.666667,5.6,90.45606,9,24.97433,121.54310,2,1278,50.0
411,2013.250000,18.8,390.96960,7,24.97923,121.53986,1,503,40.6
412,2013.000000,8.1,104.81010,5,24.96674,121.54067,1,597,52.5
413,2013.500000,6.5,90.45606,9,24.97433,121.54310,2,1097,63.9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Transaction date                          414 non-null    float64
 1   House Age                                 414 non-null    float64
 2   Distance from nearest Metro station (km)  414 non-null    float64
 3   Number of convenience stores              414 non-null    int64
 4   latitude                                  414 non-null    float64
 5   longitude                                 414 non-null    float64
 6   Number of bedrooms                        414 non-null    int64
 7   House size (sqft)                         414 non-null    int64
 8   House price of unit area                  414 non-null    float64
dtypes: float64(6), int64(3)
memory usage: 29.2 KB

In [5]:
df = df.astype(float)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 9 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Transaction date                          414 non-null    float64
 1   House Age                                 414 non-null    float64
 2   Distance from nearest Metro station (km)  414 non-null    float64
 3   Number of convenience stores              414 non-null    float64
 4   latitude                                  414 non-null    float64
 5   longitude                                 414 non-null    float64
 6   Number of bedrooms                        414 non-null    float64
 7   House size (sqft)                         414 non-null    float64
 8   House price of unit area                  414 non-null    float64
dtypes: float64(9)
memory usage: 29.2 KB

In [7]:
y = df['House price of unit area']
x = df.drop(['House price of unit area'],1)
x.head()

C:\Users\jazsa\AppData\Local\Temp\ipykernel_16868\2279571703.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = df.drop(['House price of unit area'],1)

,Transaction date,House Age,Distance from nearest Metro station (km),Number of convenience stores,latitude,longitude,Number of bedrooms,House size (sqft)
0,2012.916667,32.0,84.87882,10.0,24.98298,121.54024,1.0,575.0
1,2012.916667,19.5,306.59470,9.0,24.98034,121.53951,2.0,1240.0
2,2013.583333,13.3,561.98450,5.0,24.98746,121.54391,3.0,1060.0
3,2013.500000,13.3,561.98450,5.0,24.98746,121.54391,2.0,875.0
4,2012.833333,5.0,390.56840,5.0,24.97937,121.54245,1.0,491.0

In [8]:
y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: House price of unit area, Length: 414, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1001)

In [12]:
from sklearn.linear_model import LinearRegression

model1 = LinearRegression().fit(x_train,y_train)

In [13]:
y_test_pred = model1.predict(x_test)

In [14]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [15]:
mean_absolute_error(y_test, y_test_pred)

5.9241726506464

In [16]:
from sklearn.linear_model import Lasso

model2 = Lasso().fit(x_train,y_train)

In [17]:
y_test_pred2 = model2.predict(x_test)

In [18]:
mean_absolute_error(y_test, y_test_pred2)

6.098203022706988

In [19]:
from sklearn.linear_model import Ridge

model3 = Ridge().fit(x_train,y_train)

In [20]:
y_test_pred3 = model3.predict(x_test)

In [21]:
mean_absolute_error(y_test, y_test_pred3)

5.9298722266257915

In [22]:
from sklearn.linear_model import ElasticNet

model4 = ElasticNet().fit(x_train,y_train)

In [23]:
y_test_pred4 = model4.predict(x_test)

In [24]:
mean_absolute_error(y_test, y_test_pred4)

6.088800601947915

In [25]:
from sklearn.ensemble import GradientBoostingRegressor
model5 = GradientBoostingRegressor().fit(x_train,y_train)

In [27]:
y_test_pred5 = model5.predict(x_test)

In [28]:
mean_absolute_error(y_test, y_test_pred5)

4.890711806139172